html {
	font-family:Arial,Sans-Serif,Helvetica;
	font-size:32px;
	background:#0a2129;
	color:#cceaf5;
}

@media (min-width:600px){
	html { font-size:16px; }
}
@media (min-width:900px){
	html { font-size:24px; }
}
@media (min-width:1200px){
	html { font-size:28px; }
}
@media (min-width:1500px){
	html { font-size:32px; }
}

body, div, table, tr, td {
	padding:0;
	border:0;
	margin:0;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: url(../images/background-numbers.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	opacity: 0.20;
	filter:alpha(opacity=20);
}

a:link { color:white; text-decoration:none; }
a:visited { color:white; text-decoration:none; }
a:focus { color:white; text-decoration:underline; }
a:hover { color:white; text-decoration:underline; }
a:active { color:white; text-decoration:underline; }

ul, ol {
	margin:0;
}

td {
	padding:0.1rem;
	padding-left:0.3rem;
	padding-right:0.3rem;
}

.tr-head, .td-head {
	background:#000000;
	color:#ffffff;
}
.tr-col-separator {
	background:#ffffff;
	color:#00ff00;
}
.tr-subhead {
	background:#404040;
	color:#ffffff;
}
.tr-odd {
	background:#f0f0f0;
}
.tr-even {
	background:#e0e0e0;
}

.separator {
	padding:0.3rem;
	border:0;
	margin:0;
}

.adminfooter {
	position: fixed;
	left:0;
	right:0;
	bottom:0;

	z-index:100;
	text-align:center;
	padding:0.3rem;
	border:0;
	background:#0a2129;
}

.message {
	display: inline-block;
	margin-top:0.25rem;
	margin-bottom:0.25rem;
	padding:0.25rem;
	-moz-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	border-radius: 0.25rem;
	background:#f0f0f0;
	box-shadow:0.1rem 0.1rem 0.2rem #a0a0a0;
}
.message_ok {
	background:#c0ffc0;
	border:0.1rem solid #00a000;
}
.message_info {
	background:#c0c0ff;
	border:0.1rem solid #0000a0;
}
.message_fail {
	background:#ffc0c0;
	border:0.1rem solid #a00000;
}

.bigtext {
	font-size:1.5rem;
	font-weight:bold;
	color:#f0f0f0;
//	color:#303030;
}

.biggertext {
	font-size:2.0rem;
	font-weight:900;
	color:#f0f0f0;
}

.biggesttext {
	font-size:2.5rem;
	font-weight:bold;
	color:#f0f0f0;
//	color:#303030;
}

.bigtextwhite {
	font-weight:bold;
	color:#ffffff;
}

.header {
	position:absolute;
	padding:0;
	border:0;
	margin:0;
	height:5rem;
	top:0;
	left:0;
	right:0;
	//background-color:#000000;
	//box-shadow:0px 8px #000000;
	margin-bottom:4rem;
}

.logo {
	//width:325px;
	//height:125px;
	height:3rem;
	cursor:pointer;
}

.page {
	position:absolute;
	padding:0;
	border:0;
	margin:0;
	top:5rem;
	left:0;
	z-index:3;
	width:100%;
	height:100%-4rem;
	text-align:center;
}

.pagetitle {
	top:0;
	height:0.5rem;
	left:0;
	right:0;
	text-align:center;
	color:#f0f0f0;
	font-weight:bold;
	font-size:0.5rem;
}
.header-left {
	position:absolute;
	left:0.3rem;
	width:33%;
	text-align:left;
}
.header-center {
	position:absolute;
	left:33%;
	width:33%;
	text-align:center;
	font-size:2.0rem;
	font-weight:bold;
	color:#f0f0f0;
	padding-top:1rem;
}
.header-right {
	position:absolute;
	width:33%;
	right:0.2rem;
	text-align:right;
	color:#d0d0d0;
}


.clock {
	font-size:1.2em;
	font-weight:bold;
	color:#f0f0f0;
}

.intro {
	font-size:1.5em;
	line-height:1.2em;
	padding:3rem;
	padding-top:1rem;
	padding-bottom:1rem;
}
