#state {
	padding:1rem;
	padding-top:0rem;
	padding-bottom:2rem;
	width:100%;
	//border:2px solid yellow;
}
#state td {
	font-size: 2rem;
	font-weight:normal;
	font-family:sans-serif,arial;
}

#state-time {
	width:30%;
	text-align:left;
	//border:1px solid green;
}

#state-time-label {
	//border:1px solid blue;
}

#state-time-seconds {
	padding-left:0.5rem;
	//border:1px solid red;
	font-family:monospace;
}

#state-player {
	width:30%;
	text-align:center;
	//border:1px solid green;
}

#state-player-label {
	text-align:right;
	//border:1px solid blue;
}

#state-player-name {
	text-align:left;
	padding-left:0.5rem;
	//border:1px solid red;
}

#state-score {
	text-align:right;
	width:30%;
	//border:1px solid green;
}

#state-score-label {
	//border:1px solid blue;
	text-align:right;
}

#state-score-points {
	padding-left:0.5rem;
	//border:1px solid red;
}

#number-text-field {
	font-size:2.5rem;
	font-weight:normal;
	background:#cceaf5;
	color:#0a2129;
	margin:1rem;
	text-align:center;
	padding-top:1rem;
	padding-bottom:1rem;
	word-wrap: break-word;
}

#number-input-field {
	font-size: 3rem;
	font-weight:normal;
	font-family:monospace;
	//background:#cceaf5;
	background:#f5d1cc;
	color:#0a2129;
	border:0;
	padding:0.1rem;
	text-align:center;
	width:50%;
}

#number-solution input {
	font-size: 3rem;
	font-weight:normal;
	font-family:monospace;
	//background:#cceaf5;
	background:#cceaf5;
	color:#0a2129;
	border:0;
	padding:0.1rem;
	text-align:center;
	width:50%;
	display:inline;
}

#solve {
	display:block;
	font-size: 1rem;
	font-weight:normal;
	margin:1rem;
	padding:1rem;
}

#solve-text {
	font-weight:normal;
	font-size:2rem;
	padding:0.5rem;
	text-align:center;
}

.scoreboard {
	padding-top:0rem;
	padding-bottom:1rem;
}

.scoreboard td {
	font-size: 2rem;
	padding:0.3rem;
	padding-left:2rem;
	padding-right:2rem;
}
.scoreboard thead td {
	background:#cceaf5;
	color:#0a2129;
	font-weight:bold;
}
.scoreboard .score-rank, .scoreboard .score-numbers, .scoreboard .score-time, .scoreboard .score-timestamp {
	text-align:center;
}
.scoreboard table {
	padding-bottom:2rem;
}
